* {
    font-size: 100%;
    font-family: "Lucida Console";
}

h1 {
    text-align: center;
    font-size: xx-large;
}

p {
    text-align: center; 
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}